{% load static %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="fa">
<meta
x-frame-options: SAMEORIGIN
content-security-policy: frame-ancestors 'self' />

<meta name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=6.0, user-scalable=0">

<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#10bfc1">
<meta name="msapplication-navbutton-color" content="#66d7e6">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
