{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="سیاوش ثنایی پور">
    <meta name="keywords" content="au theme template">

    <!-- Css Block -->
    {% block cssBlock %}{% endblock %}

    <!-- Title Page-->
    <title>داشبورد</title>

    <!-- Vazir Font-->
    <link href="{% static 'assets/fonts/vazir/Vazirmatn-font-face.css'%}" rel="stylesheet"/>

    <!-- Persian Datepicker Css-->
    <link href="{% static 'assets/persiandatepicker/persian-datepicker.min.css'%}" rel="stylesheet"/>

    <!-- Fontfaces CSS-->
    <link href="{% static 'assets/css/font-face.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" media="all" rel="stylesheet"/>

    <!-- Bootstrap CSS-->
    <link href="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.css' %}" media="all" rel="stylesheet"/>

    <!-- Vendor CSS-->
    <link href="{% static 'assets/vendor/animsition/animsition.min.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/wow/animate.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/css-hamburgers/hamburgers.min.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/slick/slick.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/select2/select2.min.css' %}" media="all" rel="stylesheet"/>
    <link href="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" media="all" rel="stylesheet"/>

    <!-- Main CSS-->
    <link href="{% static 'assets/css/theme.css' %}" media="all" rel="stylesheet"/>

    <!-- Jquery JS-->
    <script language="JavaScript" type="text/javascript" src="{% static 'assets/vendor/jquery-3.6.0.min.js' %}"></script>

    <!-- Sortable JS-->
    <script language="JavaScript" type="text/javascript" src="{% static 'assets/sort_js/sorttable.js' %}"></script>

</head>

<style>
 * {

    font-family: Vazirmatn;
	text-decoration: none;
}

body {
      padding-top: 50px;
    }
    .jumbotron {
      text-align: center;
    }

    @media print {
  body {
    display: none;
        }
  }
</style>

<body class="animsition">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="{% url 'client:home' %}"> صفحه اصلی</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'client:route_list' %}"> لیست مسیر</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'client:logout' %}">خروج</a>
              </li>
            </ul>
          </div>


          {% if user.get_full_name %}
            <div class="navbar-text mr-auto"> {{ user.get_full_name }} </div>
          {% else %}
              <div class="navbar-text mr-auto"> {{ user.username }} </div>
          {% endif %}

        </div>
      </nav>

        <!-- Page Content -->
    <div class="container">
        <div class="jumbotron">
            {% block pageContent %}{% endblock %}
        </div>
    </div>

    <!-- Persian Datepicker JS-->
    <script src="{% static 'assets/persiandatepicker/persian-date.min.js' %}"></script>
    <script src="{% static 'assets/persiandatepicker/persian-datepicker.min.js' %}"></script>

    <!-- Bootstrap JS-->
    <script src="{% static 'assets/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>

    <!-- Vendor JS       -->
    <script src="{% static 'assets/vendor/slick/slick.min.js' %}"></script>
    <script src="{% static 'assets/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'assets/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counter-up/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/chartjs/chart.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/select2/select2.min.js' %}"></script>

    <script>
    persianNumbers = [/۰/g, /۱/g, /۲/g, /۳/g, /۴/g, /۵/g, /۶/g, /۷/g, /۸/g, /۹/g],
        arabicNumbers = [/٠/g, /١/g, /٢/g, /٣/g, /٤/g, /٥/g, /٦/g, /٧/g, /٨/g, /٩/g]

    function fixNumbers(str) {
        if (typeof str === 'string') {
            for (let i = 0; i < 10; i++) {
                str = str.replace(persianNumbers[i], i).replace(arabicNumbers[i], i);
            }
        }
        return str;
    };

    function normalizeDate(dateInt) {
        return dateInt.substring(0, 4) + '/' + dateInt.substring(4, 6) + '/' + dateInt.substring(6, 8);
    }
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $(".datepickercls").pDatepicker({
        initialValue: false
    });
     $('#navbarID a').css('display', 'flex');
  });
</script>

    <!-- Main JS-->
    {% block jsBlock %}{% endblock %}
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('textarea').addClass('form-control');
    </script>

</body>

</html>
<!-- end document-->
