{% extends '_layout.html' %}
{% load static %}

<!-- JS BLOCK -->
{% block jsBlock %}
{% endblock %}
<!-- CSS BLOCK -->
{% block cssBlock %}
{% endblock %}

{% block pageContent %}

<div class="row m-t-25">
    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number">{{ student_count }}</h2>
            <span class="desc">تعداد فراگیر ها</span>
            <div class="icon">
                <i class="zmdi zmdi-account-o"></i>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number">{{ course_count }}</h2>
            <span class="desc">تعداد دوره ها</span>
            <div class="icon">
                <i class="zmdi zmdi-graduation-cap"></i>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number">{{ institute_count }}</h2>
            <span class="desc">تعداد مراکز</span>
            <div class="icon">
                <i class="zmdi zmdi-home"></i>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="statistic__item">
            <h2 class="number">{{exam_count}}</h2>
            <span class="desc">آزمون </span>
            <div class="icon">
                <i class="zmdi zmdi-edit"></i>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">

    </div>
</div>

{% endblock %}