
{% extends '_layout.html' %}
{% load static %}

<!-- JS BLOCK -->
{% block jsBlock %}
{% endblock %}
<!-- CSS BLOCK -->
{% block cssBlock %}
{% endblock %}

{% block pageContent %}
<h3 class="title-5 m-b-35">لیست مسیر</h3>
<div class="table-responsive">
  <div class="table-toolbar mb-3">
    <a href="/route_creator" class="btn btn-primary btn-sm float-right">افزودن مسیر <span class="fa fa-plus"></span></a>
  </div>
  <br>
  <input type="text" id="searchInput" onkeyup="searchTable()" placeholder="جستجو...">
  <br>
    <table id="myTable" class="table table-striped">
      <thead>
        <th class="sortable numeric" scope="col">کد مسیر <span class="sort-icon">&#8597;</span></th>
        <th class="sortable" scope="col">نام مسیر <span class="sort-icon">&#8597;</span></th>
        <th class="sortable numeric" scope="col"> م فعال <span class="sort-icon">&#8597;</span></th>
        <th class="sortable numeric" scope="col"> م غیر فعال <span class="sort-icon">&#8597;</span></th>
        <th class="sortable numeric" scope="col">م جابحا شده <span class="sort-icon">&#8597;</span></th>
        <th class="sortable numeric" scope="col">م لیست سیاه <span class="sort-icon">&#8597;</span></th>
        <th class="sortable numeric" scope="col">م بدحساب <span class="sort-icon">&#8597;</span></th>
        <th class="sortable" scope="col">نام فروشنده <span class="sort-icon">&#8597;</span></th>
        <th scope="col">عملیات</th>
        </tr>
      </thead>
      <tbody>

          {% for item in list %}
              <tr>
                <td>{{ item.code }}</td>
                <td> {{ item.name }} </td>
                <td>20</td>
                <td>4</td>
                <td>2</td>
                <td>50</td>
                <td>24</td>
                <td>{{ item.visitor }}</td>
                <td>
                  <div class="table-toolbar mb-3">
                    <a href="/route_edit/{{ item.id }}" class="btn btn-warning btn-sm">ویرایش</a>
                    <a href="/client_route/{{ item.id }}" class="btn btn-primary btn-sm"> لیست مشتری</a>

                  </div>
                </td>
              </tr>
          {% endfor %}

      </tbody>
    </table>

    <script>
      $(document).ready(function() {
          $('.sortable').on('click', function() {
              var $table = $(this).closest('table');
              var columnIndex = $(this).index();
              var isNumeric = $(this).hasClass('numeric');
              var isAscending = $(this).hasClass('ascending');

              // Toggle sorting direction
              if (isAscending) {
                  $(this).removeClass('ascending').addClass('descending').find('.sort-icon').html('&#8595;');
              } else {
                  $(this).removeClass('descending').addClass('ascending').find('.sort-icon').html('&#8593;');
              }

              var rows = $table.find('tbody > tr').get();

              rows.sort(function(a, b) {
                  var aValue = $(a).find('td').eq(columnIndex).text();
                  var bValue = $(b).find('td').eq(columnIndex).text();

                  if (isNumeric) {
                      aValue = parseFloat(aValue.replace(/[^0-9.-]+/g,"")) || 0;
                      bValue = parseFloat(bValue.replace(/[^0-9.-]+/g,"")) || 0;
                  } else {
                      aValue = aValue.toUpperCase();
                      bValue = bValue.toUpperCase();
                  }

                  if (isAscending) {
                      return aValue > bValue ? 1 : -1;
                  } else {
                      return aValue < bValue ? 1 : -1;
                  }
              });

              $table.children('tbody').empty().append(rows);
          });
      });
    </script>


<script>
  function searchTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      var found = false;
      td = tr[i].getElementsByTagName("td");
      for (var j = 0; j < td.length; j++) {
        if (td[j]) {
          txtValue = td[j].textContent || td[j].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            found = true;
            break;
          }
        }
      }
      if (found) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
</script>

  </div>

{% endblock %}